<!DOCTYPE html>
<html lang="ru" data-bs-theme="auto">

<head>
  @@include('./shared/header.html', { "title": "Восстановление пароля" })

  <style>
    #main {
      max-width: 450px;
    }

    .textarea-no-resizable {
      resize: none;
    }
  </style>
</head>

<body>
  <div class="container">
    <nav id="nav" class="navbar navbar-expand-md navbar-light" aria-label="Умная школа навигационная панель">
      @@include('./widget/guestNavigator.html')
    </nav>
    <hr class="m-0" />
    <div id="main" class="d-flex flex-column mx-auto shadow-lg my-3">
      <main class="d-flex flex-column p-4 border mx-auto">
        @@include('./widget/recoveryPasswordForm.html')
      </main>
      @@include('./widget/notification.html', {
      "title": "Восстановление невозможно по причине непонятной ошибки."
      })
    </div>
  </div>
  @@include('./shared/footer.html')
</body>

</html>