<!-- widget.Navigator: start -->
<div class="container">
  <a class="navbar-brand" href="teacherIndex.html">Умная школа</a>
  <button
    class="navbar-toggler collapsed"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarMain"
    aria-controls="navbarMain"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id="navbarMain" class="navbar-collapse collapse justify-content-end">
    <ul class="navbar-nav mb-2 mb-md-0 gap-md-4">
      <li class="nav-item"><a class="nav-link active" href="guestIndex.html">Выход</a></li>
    </ul>
  </div>
</div>
<!-- widget.Navigator: finish -->
