<!DOCTYPE html>
<html lang="ru" data-bs-theme="auto">

<head>
  @@include('./shared/header.html', { "title": "Группа" })

  <style>
    .textarea-no-resizable {
      resize: none;
    }

    .table td.fit,
    .table th.fit {
      white-space: nowrap;
      width: 1%;
    }

    .table.clickable-rows>tbody>tr {
      cursor: pointer;
    }

    .bg-success-subtle {
      background-color: var(--bs-success-bg-subtle);
    }

    .bg-danger-subtle {
        background-color: var(--bs-danger-bg-subtle);
    }
  </style>
</head>

<body>
  <div class="container">
    <nav id="nav" class="navbar navbar-expand-md navbar-light" aria-label="Навигационная панель">
      @@include('./widget/adminNavigator.html')
    </nav>
    <hr class="m-0" />
    <div id="main" class="my-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="adminIndex.html">Меню</a></li>
          <li class="breadcrumb-item"><a href="groupList.html">Список групп</a></li>
          <li class="breadcrumb-item active" aria-current="page">Новая группа</li>
        </ol>
      </nav>

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="adminIndex.html">Меню</a></li>
          <li class="breadcrumb-item"><a href="groupList.html">Список групп</a></li>
          <li class="breadcrumb-item active" aria-current="page">Группа "Первая" (Вторая параллель)</li>
        </ol>
      </nav>

      <main class="d-flex flex-column">
        @@include('./widget/groupForm.html')
      </main>
      @@include('./widget/notification.html', {
      "title": "Произошла ошибка при попытке сохранить данные."
      })
    </div>
  </div>
  @@include('./shared/footer.html')
  </script>
</body>

</html>