<!DOCTYPE html>
<html lang="ru" data-bs-theme="auto">

<head>
  @@include('./shared/header.html', { "title": "Список групп" })

  <style>
    .textarea-no-resizable {
      resize: none;
    }

    .table td.fit,
    .table th.fit {
      white-space: nowrap;
      width: 1%;
    }

    .table.clickable-rows>tbody>tr {
      cursor: pointer;
    }
  </style>
</head>

<body>
  <div class="container">
    <nav id="nav" class="navbar navbar-expand-md navbar-light" aria-label="Навигационная панель">
      @@include('./widget/adminNavigator.html')
    </nav>
    <hr class="m-0" />
    <div id="main" class="my-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="adminIndex.html">Меню</a></li>
          <li class="breadcrumb-item active" aria-current="page">Список групп</li>
        </ol>
      </nav>

      <div class="d-flex justify-content-end">
        @@include('./atom/button.html', {
        "class": "btn btn-success",
        "isLoading": false,
        "icon": "bi-plus-circle",
        "title": "Добавить"
        })
      </div>
      <table class="table table-hover table-bordered clickable-rows my-3">
        <thead>
          <tr class="border-dark-subtle table-active">
            <th scope="col" class="text-end fit">#</th>
            <th scope="col">Название</th>
            <th scope="col">Параллель группы</th>
            <th scope="col" class="fit">Действия</th>
          </tr>
        </thead>
        <tbody>
          <tr class="align-middle">
            <th scope="row" class="text-end">1</th>
            <td>Первая</td>
            <td>Первая параллель</td>
            <td class="p-1">
              @@include('./atom/button.html', {
              "class": "btn btn-outline-danger btn-sm",
              "isLoading": false,
              "icon": "bi-trash",
              "title": ""
              })
            </td>
          </tr>
          <tr class="align-middle">
            <th scope="row" class="text-end">2</th>
            <td>Вторая</td>
            <td>Первая параллель</td>
            <td class="p-1"></td>
          </tr>
          <tr class="align-middle">
            <th scope="row" class="text-end">3</th>
            <td>Третья</td>
            <td>Первая параллель</td>
            <td class="p-1"></td>
          </tr>
          <tr class="align-middle">
            <th scope="row" class="text-end">4</th>
            <td>Навигаторы</td>
            <td>Вторая параллель</td>
            <td class="p-1">
              @@include('./atom/button.html', {
              "class": "btn btn-outline-danger btn-sm",
              "isLoading": false,
              "icon": "bi-trash",
              "title": ""
              })
            </td>
          </tr>
          <tr class="align-middle">
            <th scope="row" class="text-end">5</th>
            <td>Аналитики</td>
            <td>Вторая параллель</td>
            <td class="p-1"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  @@include('./shared/footer.html')
  </script>
</body>

</html>