<!-- atom.Button: start -->
<button type="button" class="@@class">
    @@if (isLoading === true) {
        <span class="spinner-border spinner-border-sm me-1" aria-hidden="true"></span>
    }
    @@if (isLoading === false) {
        <span></span>
    }
    @@if (icon !== '') {
        @@if (title === '') {
            <i class="bi @@icon"></i>
        }
        @@if (title !== '') {
            <i class="bi @@icon me-3"></i>
        }
    }
    @@if (title !== '') {
        <span role="status">@@title</span>
    }
</button>
<!-- atom.Button: finish -->