<!-- atom.Select: start -->
<div class="@@class">  
  <label for="l2" class="form-label"> <span>@@label</span><span class="text-danger">&nbsp;*</span> </label>
  <select class="form-select" aria-label="select">
    <option selected>Выберите параллель</option>
    <option value="1">Первая</option>
    <option value="2">Вторая</option>
    <option value="3">Третья</option>
  </select>

  <!-- <input type="text" class="form-control" id="lX" placeholder="@@placeholder"/> -->
  <div class="d-flex justify-content-between">
    <div>
      <span class="text-secondary"></span>
      <span class="text-danger"></span>
    </div>
  </div>
</div>


<!-- atom.Select: finish -->
