<!-- atom.Checkbox: start -->
<div class="@@class">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="l3X">
    <label class="form-check-label fw-bold" for="l3X">
      <span>@@label</span>
      @@if (mandatory === true) {
        <span class="text-danger">&nbsp;*</span>
      }
    </label>
  </div>
  <div class="d-flex justify-content-between">
    <div>
      <span class="text-secondary"></span>
      <span class="text-danger"></span>
    </div>
  </div>
</div>
<!-- atom.Checkbox: finish -->