[ req ]
prompt = no
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext
[ req_distinguished_name ]
countryName         = RU
stateOrProvinceName = Saint Petersburg
localityName        = Saint Petersburg
organizationName    = Modelware
commonName          = Modelware
emailAddress        = denis.ivanov@mail.ru
[ req_ext ]
subjectAltName = @alt_names
[alt_names]
DNS.1 = local.sch
DNS.2 = *.local.sch
